{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
{% endblock %}

{% block content %}

<a href="{{ url_for('blog.create') }}">New Post</a>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{ post.title}}</td>
      <td><a href="{{ url_for('blog.update', id=post._id) }}">edit</a></td>
      <td>
        <form action="{{ url_for('blog.delete', id=post._id) }}" method="post">
          <input type="submit" value="delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
