{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">

    <label for="title" class="form-label">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" class="form-control" required autofocus>

    <label for="body" class="form-label">Body</label>
    <textarea name="body" id="body" class="form-control" rows="10">{{ request.form['body'] }}</textarea>

    <button type="submit" class="btn btn-primary">Save</button>

  </form>
{% endblock %}
